# Limpeza de Dados

Neste ficheiro encontras-se a limpeza dos dados do Dataset fornecida pela Google

In [1]:
import pandas as pd
#matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sb
import sklearn
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor
import numpy as np

# Import necessary modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score

covid_data = pd.read_csv('Global_Mobility_Report.csv',sep=";")

C:\ProgramData\Miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df2=covid_data.drop(['sub_region_2','sub_region_1','Date'],axis=1)

In [3]:
df2.isso.unique()

array(['AE', 'AF', 'AG', 'AO', 'AR', 'AT', 'AU', 'AW', 'BA', 'BB', 'BD',
       'BE', 'BF', 'BG', 'BH', 'BJ', 'BO', 'BR', 'BS', 'BW', 'BY', 'BZ',
       'CA', 'CH', 'CI', 'CL', 'CM', 'CO', 'CR', 'CV', 'CZ', 'DE', 'DK',
       'DO', 'EC', 'EE', 'EG', 'ES', 'FI', 'FJ', 'FR', 'GA', 'GB', 'GE',
       'GH', 'GR', 'GT', 'GW', 'HK', 'HN', 'HR', 'HT', 'HU', 'ID', 'IE',
       'IL', 'IN', 'IQ', 'IT', 'JM', 'JO', 'JP', 'KE', 'KG', 'KH', 'KR',
       'KW', 'KZ', 'LA', 'LB', 'LI', 'LK', 'LT', 'LU', 'LV', 'LY', 'MD',
       'MK', 'ML', 'MM', 'MN', 'MT', 'MU', 'MX', 'MY', 'MZ', nan, 'NE',
       'NG', 'NI', 'NL', 'NO', 'NP', 'NZ', 'OM', 'PA', 'PE', 'PG', 'PH',
       'PK', 'PL', 'PR', 'PT', 'PY', 'QA', 'RE', 'RO', 'RW', 'SA', 'SE',
       'SG', 'SI', 'SK', 'SN', 'SV', 'TG', 'TH', 'TJ', 'TR', 'TT', 'TW',
       'TZ', 'UG', 'US', 'UY', 'VE', 'VN', 'YE', 'ZA', 'ZM', 'ZW'],
      dtype=object)

In [4]:
df = df2.dropna(subset=['isso'])
df=df.reset_index()
df=df.drop(['index'],axis=1)

In [5]:
df.isnull().sum()

isso                      0
country                   0
date                      0
retail_recreation     25337
grocery_pharmacy      31134
parks                130030
transit_stations     108482
workplaces            10271
residential           99258
dtype: int64

In [6]:
choices=['EU','AM_N','AM_S','AF','AS','OC']

In [7]:
conditions = [
    (df['isso'] == 'AT') | (df['isso'] == 'BA') | (df['isso'] == 'BE') |  (df['isso'] == 'BG')
    | (df['isso'] == 'BY')| (df['isso'] == 'CH') | (df['isso'] == 'CZ') | (df['isso'] == 'DE') | (df['isso'] == 'DK') 
    | (df['isso'] == 'EE') | (df['isso'] == 'ES') | (df['isso'] == 'FI') | (df['isso'] == 'FR') | (df['isso'] == 'GB') 
    | (df['isso'] == 'GE') | (df['isso'] == 'GR') | (df['isso'] == 'HR') | (df['isso'] == 'HU') | (df['isso'] == 'IE')
    | (df['isso'] == 'IT') | (df['isso'] == 'LI')| (df['isso'] == 'LT')| (df['isso'] == 'LU') | (df['isso'] == 'LV')
    | (df['isso'] == 'MD') | (df['isso'] == 'MK')| (df['isso'] == 'MT') | (df['isso'] == 'NL')| (df['isso'] == 'NO')
    | (df['isso'] == 'PL')| (df['isso'] == 'PT')| (df['isso'] == 'RO')| (df['isso'] == 'SE')| (df['isso'] == 'SI')
    | (df['isso'] == 'SK'),
    (df['isso'] == 'AG') | (df['isso'] == 'BB')| (df['isso'] == 'BS')| (df['isso'] == 'BZ')
    | (df['isso'] == 'CA') | (df['isso'] == 'HT') | (df['isso'] == 'JM')| (df['isso'] == 'NI') | (df['isso'] == 'PR')
    | (df['isso'] == 'US'),
    (df['isso'] == 'AR') | (df['isso'] == 'AW')| (df['isso'] == 'BO')| (df['isso'] == 'BR')
    | (df['isso'] == 'CL')| (df['isso'] == 'CO')| (df['isso'] == 'CR') | (df['isso'] == 'DO') | (df['isso'] == 'EC') 
    | (df['isso'] == 'GT') | (df['isso'] == 'HN')| (df['isso'] == 'MX')| (df['isso'] == 'PA')| (df['isso'] == 'PE')
    | (df['isso'] == 'PY')| (df['isso'] == 'SV')| (df['isso'] == 'TT')| (df['isso'] == 'UY') | (df['isso'] == 'VE'),
    (df['isso'] == 'AO') |(df['isso'] == 'BF') | (df['isso'] == 'BJ') | (df['isso'] == 'BW')
    | (df['isso'] == 'CI') | (df['isso'] == 'CM') | (df['isso'] == 'CV')| (df['isso'] == 'EG') | (df['isso'] == 'GA') 
    | (df['isso'] == 'GH') | (df['isso'] == 'GW') | (df['isso'] == 'KE') | (df['isso'] == 'LY') | (df['isso'] == 'ML')
    | (df['isso'] == 'MU')| (df['isso'] == 'MZ')| (df['isso'] == 'NE')| (df['isso'] == 'NG') | (df['isso'] == 'RE')
    | (df['isso'] == 'RW')| (df['isso'] == 'SN')| (df['isso'] == 'TG')| (df['isso'] == 'TZ')| (df['isso'] == 'UG')
    | (df['isso'] == 'ZA')| (df['isso'] == 'ZM')| (df['isso'] == 'ZW'),
    (df['isso'] == 'AE') | (df['isso'] == 'AF') | (df['isso'] == 'BD') | (df['isso'] == 'BH')
    | (df['isso'] == 'HK') | (df['isso'] == 'ID') | (df['isso'] == 'IL')| (df['isso'] == 'IN')| (df['isso'] == 'IQ')
    | (df['isso'] == 'JO')| (df['isso'] == 'JP')| (df['isso'] == 'KG')| (df['isso'] == 'KH')| (df['isso'] == 'KR')
    | (df['isso'] == 'KW')| (df['isso'] == 'KZ')| (df['isso'] == 'LA')| (df['isso'] == 'LB')| (df['isso'] == 'LK')
    | (df['isso'] == 'MM')| (df['isso'] == 'MN') | (df['isso'] == 'MY')| (df['isso'] == 'NP')| (df['isso'] == 'OM')
    | (df['isso'] == 'PH')| (df['isso'] == 'PK')| (df['isso'] == 'QA')| (df['isso'] == 'SA')| (df['isso'] == 'SG')
    | (df['isso'] == 'TH')| (df['isso'] == 'TJ')| (df['isso'] == 'TR')| (df['isso'] == 'TW')| (df['isso'] == 'VN')
    | (df['isso'] == 'YE'),
    (df['isso'] == 'AU')| (df['isso'] == 'FJ') | (df['isso'] == 'NZ')| (df['isso'] == 'PG')]

In [8]:
df['continent'] = np.select(conditions,choices)

In [9]:
df_=df

In [10]:
df.continent.unique()

array(['AS', 'AM_N', 'AF', 'AM_S', 'EU', 'OC'], dtype=object)

In [11]:
med = df.groupby(['date','continent']).median()
med

                retail_recreation  grocery_pharmacy  parks  transit_stations  \
date continent
1    AF                       3.0               1.0    3.0               3.0
     AM_N                     5.0               2.0   13.0               4.0
     AM_S                     2.0               1.0    0.0               1.0
     AS                      -1.0               2.5    2.0              -1.0
     EU                       2.0               0.0    3.5               5.0
...                           ...               ...    ...               ...
63   AM_N                   -53.0             -24.0  -37.0             -67.0
     AM_S                   -67.5             -31.0  -62.0             -66.0
     AS                     -37.0             -19.0  -26.0             -51.0
     EU                     -65.5             -25.0  -25.0             -60.0
     OC                     -87.5             -34.0  -76.0             -72.0

                workplaces  residential
date continent
1    AF                4.0          0.0
     AM_N              0.0         -1.0
     AM_S              2.0          0.0
     AS                4.0          1.0
     EU               -0.5          0.0
...                    ...          ...
63   AM_N            -59.0         24.0
     AM_S            -46.0         25.0
     AS              -26.0         14.0
     EU              -56.0         24.0
     OC              -58.5         24.0

[378 rows x 6 columns]

In [12]:
df_rr=df.set_index(['date','continent'])['retail_recreation'].fillna(med.retail_recreation)
df_gp=df.set_index(['date','continent'])['grocery_pharmacy'].fillna(med.grocery_pharmacy)
df_pk=df.set_index(['date','continent'])['parks'].fillna(med.parks)
df_ts=df.set_index(['date','continent'])['transit_stations'].fillna(med.transit_stations)
df_wp=df.set_index(['date','continent'])['workplaces'].fillna(med.workplaces)
df_re=df.set_index(['date','continent'])['residential'].fillna(med.residential)

In [13]:
df_rr=df_rr.reset_index()
df_gp=df_gp.reset_index()
df_pk=df_pk.reset_index()
df_ts=df_ts.reset_index()
df_wp=df_wp.reset_index()
df_re=df_re.reset_index()

In [14]:
len(df_rr['retail_recreation'])

230765

In [15]:
df['retail_recreation']=df_rr['retail_recreation']
df['grocery_pharmacy']=df_gp['grocery_pharmacy']
df['parks']=df_pk['parks']
df['transit_stations']=df_ts['transit_stations']
df['workplaces']=df_wp['workplaces']
df['residential']=df_re['residential']

In [16]:
df.isnull().sum()

isso                 0
country              0
date                 0
retail_recreation    0
grocery_pharmacy     0
parks                0
transit_stations     0
workplaces           0
residential          0
continent            0
dtype: int64

In [17]:
df.to_csv('dados_limpos.csv')